html{
    width: 100%;
    height: 100%;
}
body{
    /* padding: 0px; */
    margin: 0;
    width: 100%;
    height: 100%;
    /* margin-top: 0px; */
}

/* cabeçario */

header{
    /* mudar a cor */
    text-align: center;
    background-color: aqua;
    border-bottom: 1px solid black;
}

h4{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* menu lateral */

nav{
    float: left;
    width: 200px;
    height: 68%;
    border: 1px solid black;
    border-top: none;
    background-color: black;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 60px;
}

.menu{
    display: block;
    color: aliceblue;
}

/* Gráficos */

section{

    position: relative;
    text-align: center;
}

.graficos{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* rodapé */

footer{

    padding: 15px;
    position: fixed;
    bottom: 0;
    height: 67px;
    width: 100%;
    text-align: center; 
    border-top: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

img{
    height: 23px;
    width: 23px;
}

img:hover {
    transform: scale(1.43);
}