@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: 19px;
}

p{
    
}

img{
    height: 150px;
    width: 150px;
}

.imagens{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-top: 55px;
}

.imagens, img{
    /* não deixa a div diminuir de tamanho quand o hover é acionado */
    vertical-align: middle;
}

.txt1, .txt2{
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}
.img1:hover{
    height: 170px;
    width: 170px;
}
.img2:hover{
    height: 170px;
    width: 170px;
}
