@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color:  rgb(238, 240, 237);
}

form{
    
    max-width: 450px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.titulo{
    font-size: 20px;
}

label{
    /* display: block; */
    margin-right: 162px;
    font-weight: bold;
    /* margin-top: 50px; */
}

.id_lbl{
    margin-left: 100px;
}

.nome_cli{
    margin-left: 35px;
}

.nome_profi{
    margin-left: 68px;
}

.desc{
    margin-left: 55px;
}

.values{
    margin-left: 15px;
}

input, textarea{
    border: 1px solid rgb(186, 186, 178);
    width: 190px;
    height: 30px;
    border-radius: 13px;
}

input:focus{
    font-size: 14px;
}

.id{
    height: 25px;
    width: 80px;
    margin-right: 110px;
    text-align: center;
}

.txt_longo{
    height: 130px;
}

.foms{
    background-color: antiquewhite;
}

.btn{
    width: 180px;
    height: 30px;
    background-color: rgb(125, 123, 123);
    color: aliceblue;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}

.btn:hover{
    background-color: rgb(105, 103, 103);
}

.rodape{
    position: relative;
    bottom: 0;
}

@media screen and ( max-width :989px ){
    .id_lbl{
    margin-left: -5px;
}

.nome_cli{
    margin-left: 30px;
}

.nome_profi{
    margin-left: 60px;
}

.desc{
    margin-left: 55px;
}
.values{
    margin-left: 10px;
}
}

@media screen and ( min-width :988px ){
    .id_lbl{
    margin-left: -5px;
}

.nome_cli{
    margin-left: 30px;
}

.nome_profi{
    margin-left: 60px;
}

.desc{
    margin-left: 55px;
}
.values{
    margin-left: 10px;
}
}