

.escolha img{
    height: 140px;
    width: 140px;
}

.escolha{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.cadastro{
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.escolha p{
    margin-bottom: 45px;
    font-size: 19px;
    font-weight: bold;
}

.cadastro p , .consulta p , section h4{
    text-align: center;
}

.cadastro p , .consulta p {
    position: relative;
    right: 15px;
}

.cadastro , .consuta{
    margin: auto;
    padding: 20px;
    height: 100%;
}

.escolha img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.rodape{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 22, 22);
    padding-top: 15px;
    padding-bottom: 13px;
    font-size: 18px;
    border-top: 1px solid rgb(0, 0, 0);
}




